<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/user/login" method="POST">
        <label for="usuario">Usuario*</label>
        <input type="text" name="usuario" id="usuario" placeholder="Ingresa tu Usuario" required>
        <label for="contra">Contraseña*</label>
        <input type="password" name="contra" id="contra" placeholder="Ingresa tu Contraseña" required>
        <button type="submit">Iniciar sesión</button>
    </form>
</body>
</html>